<div>
  <div>
    <button class="btn btn-primary" (click)="newProduct()">Nuevo</button>
  </div>
  <div>
    <table cTable hover striped>
      <thead>
        <tr>
          <th scope="col">Product ID</th>
          <th scope="col">Product Code</th>
          <th scope="col">Barcode</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Category</th>
          <th scope="col">Reorder Quantity</th>
          <th scope="col">Weight</th>
          <th scope="col">Height</th>
          <th scope="col">Width</th>
          <th scope="col">Depth</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.productId }}</td>
          <td>{{ product.productCode || 'N/A' }}</td>
          <td>{{ product.barcode || 'N/A' }}</td>
          <td>{{ product.productName || 'N/A' }}</td>
          <td>{{ product.productDescription || 'N/A' }}</td>
          <td>{{ product.productCategory || 'N/A' }}</td>
          <td>{{ product.reorderQuantity }}</td>
          <td>{{ product.productWeight }}</td>
          <td>{{ product.productHeight }}</td>
          <td>{{ product.productWidth }}</td>
          <td>{{ product.productDepth }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-container">
    <mat-paginator [length]=totalPages [pageSize]=pageSize [pageIndex]=pageNumber (page)=onPageChange($event)></mat-paginator>
  </div>
</div>
